body{
 width: 400px;
 min-height: 500px;
 margin: 0;
 background-color: #FFFBDB;
 text-align: center;
 position: relative;
}

.logo{
 background-color: #FF0505;
 width: 100%;
}

.logo > img {
 width: 10%;
}

.form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 50px 40px;
 margin-bottom: 25px;
 border: 1px solid;
 border-radius: 30px;
 box-shadow: 0 2px 0 0  darkgray;
}

p{
 font-size: 24px;
}
.btn{
 background-color: #FBD5DE;
 margin: 25px;
 padding: 10px 20px;
 border: none;
}

footer {
 position: absolute; 
 bottom: 0;}