body{
 width: 400px;
 min-height: 500px;
 margin: 0;
 background-color: #FFFBDB;
 text-align: center;
}

.logo{
 background-color: #FF0505;
 width: 100%;
}

.logo > img {
 width: 10%;
}

.form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 50px 40px;
 margin-bottom: 25px;
 border: 1px solid;
 border-radius: 30px;
 box-shadow: 0 2px 0 0  darkgray;
}

.form:first-child{
 font-size: 20px;
}

input{
    margin: 14px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    background-color: #C4C4C4;
    padding-left: 16px;
    width: 65%;
}

.btn{
 background-color: #FBD5DE;
 margin: 25px;
 padding: 10px 20px;
 border: none;
}

.fpswd{
 text-decoration: none;
 color: inherit;
 margin-bottom: 10px;
 font-size: 16px;
}

.signup{
 text-align: center;
 font-size: 16px;
}
.title{
 font-size: 24px;
}

.error{
 color: #D8000C;
 background-color: #FFBABA;
}